<div id='video-row'>
  <div id='video-frame'>
    <video id="live" autoplay></video>
  </div>
</div>

<div id='controls-row'>
  <div id='capture-frame'>
    <a id='btn-camera' href="#"><%= image_tag 'camera.png' %></a>
    <div id='count-label'></div>
  </div>
  <div id='next-frame'>
    <a id='form-submit' href='#'><%= image_tag 'next.png' %></a>
  </div>
</div>

<div class='hidden'>
  <canvas id='scratch'></canvas>
  <%= form_for @photo do |f| %>
    <%= f.hidden_field :content_base64 %>
    <%= f.hidden_field :content_type %>
    <%= f.hidden_field :content_filename %>
    <%= hidden_field_tag :redirect_to, frame_photo_url(@photo) %>
  <% end %>
</div>

<script>
$(function() {
  Photobooth.init();
  CaptureForm.init();
});
</script>