<%= form_for @photo do |f| %> 
  <div class='form-group'>
    <%= f.label :family_name, "What is your name?" %>
    <%= f.text_field :family_name, placeholder: 'Enter Name', autocomplete: 'off' %>
  </div>

  <div class='form-group'>
    <%= f.label :mdn, "What is your mobile number?" %>
    <%= f.text_field :mdn, placeholder: 'Enter Mobile Number', autocomplete: 'off'  %>
  </div>

  <div class='hidden'>
    <%= f.submit %>
  </div>
<% end %>

<section class='bottom-nav'>
  <a id='form-submit' href='#'><%= image_tag 'next.png' %></a>
</section>

<script>
  $(document).ready(function() {

    var FormValidation = {
      init: function() {
        FormValidation.form        = document.getElementById('new_photo');
        FormValidation.name        = document.getElementById('photo_family_name');
        FormValidation.mdn         = document.getElementById('photo_mdn');
        FormValidation.setupValidation();
        FormValidation.addRules();
      },

      setupValidation: function() {
        $(FormValidation.form).validate({
          onkeyup: false,
          errorPlacement: FormValidation.showError
        });
      },

      addRules: function() {
        $(FormValidation.mdn).rules("add", { required: true, phoneUS: true });
        $(FormValidation.name).rules("add", { required: true });
      },

      showError: function(error, element) {
        var errored = document.getElementById(element[0].id);
        var message = error[0].innerText;
        $(errored).popover({
          placement: 'top',
          trigger: 'manual',
          html: true,
          content: message
        });
        $(errored).popover('show');
        setTimeout(function() {
          $(errored).popover('destroy');
        }, 1500);
      },
    };

    var PhotoForm = {
      init: function() {
        PhotoForm.form   = document.getElementById('new_photo');
        PhotoForm.submit = document.getElementById('form-submit');
        PhotoForm.bindUI();
      },
      bindUI: function() {
        $(PhotoForm.submit).click(PhotoForm.submitForm);
      },
      submitForm: function(e) {
        e.preventDefault();
        if($(PhotoForm.form).valid() === true) {
          PhotoForm.form.submit();
        }
      },
    };

    PhotoForm.init();
    FormValidation.init();
  });  
</script>