<%= form_for @photo do |f| %> 
  <div class='form-group'>
    <%= f.label :family_name, "What is your name?" %>
    <%= f.text_field :family_name, placeholder: 'First or Last Name', autocomplete: 'off' %>
  </div>

  <div class='form-group'>
    <%= f.label :mdn, "What is your mobile number?" %>
    <%= f.telephone_field :mdn, placeholder: 'Mobile Number', autocomplete: 'off'  %>
  </div>

  <div class='hidden'>
    <%= f.submit %>
  </div>
<% end %>

<section class='bottom-nav'>
  <a id='form-submit' href='#'><%= image_tag 'next.png' %></a>
</section>

<script>
$(function() {
    PhotoForm.init();
    FormValidation.init();
});  
</script>