<div id='gif-row'>
  <div id='gif-frame'>
    <%= image_tag @photo_set.gif.url %>
    <%= image_tag @frames.first %>
  </div>
</div>

<div id='frames-row' data-frames="<%= @frames %>">
  <div id='back-frame'>
    <%= link_to image_tag('back.png'), new_photo_set_url %>
  </div>
  <div id='frames-frame'>
    &nbsp;
  </div>
  <div id="next-frame">
    <a id='form-submit' href='#'><%= image_tag 'next.png' %></a>
  </div>
</div>

<div class='hidden'>
  <%= form_for(@photo_set) do |f| %>
    <%= f.hidden_field :framed_base64 %>
  <% end %>
</div>