<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <title>GIF Photobooth</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_path 'android-icon-192x192.png' %>">
  <link rel="icon" type="image/png" sizes="36x36" href="<%= asset_path 'android-icon-36x36.png' %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_path 'favicon-icon-96x96.png' %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'favicon-icon-16x16.png' %>">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script src="//use.typekit.net/agn5hol.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script> 

</head>
<body class="<%= controller_name %> <%= action_name %>">
  <%= render 'shared/alerts' %>


  <section class='main'>
    <%= yield %>
  </section>

  <script>
    Alerts.init();
    Analytics.init("");
  </script>


</body>
</html>
